#drag_zone{
  width:100%;
  height: 200px;
  margin: auto;
  padding: 8px;
  text-align: center;
  background-color: #f0f0f0;
  border: 2px dashed rgb(211, 208, 208);
  border-radius: 8px;
  color: #585757;
}
.mat-card {
  background: #f7f7f7;
  color: #585757;
}

.mat-line,.mat-icon,.mat-icon{
  color: #585757;
}

